<!-- templates/index.html -->

{% extends "base.html" %}

{% block content %}
<h1 class="title">
  Log me in, Scotty!
</h1>
<h2 class="subtitle">
  Welcome to PSaaS - Python Storage as a Service
</h2>
<h2 class="subtitle">
  We store you code so you don't forget it!
</h2>
{% endblock %}
