<!-- templates/signup.html -->

{% extends "base.html" %}

{% block content %}
<div class="column is-4 is-offset-4">
    <h3 class="title">Python Storage as a Service - PSaaS</h3>
    <h2 class="subtitle">Store all of your favorite Python commands for later use!</h3>
    <div class="box">

{% with messages = get_flashed_messages() %}
{% if messages %}
    <div class="notification is-danger">
        {{ messages[0] }}</a>.
    </div>
{% endif %}
{% endwith %}
        <form method="POST" action="/setcommands">

            <div class="field">
                <div class="control">
                    <input class="input is-large" type="command" name="command" placeholder="Python" autofocus="">
                </div>
            </div>

            <button class="button is-block is-info is-large is-fullwidth">Store!</button>
        </form>
    </div>
</div>
{% endblock %}
